version: "3.8"

services:
  nginx:
    volumes:
      - ./config/nginx.prod.conf:/etc/nginx/nginx.conf:ro
      - ./certbot/www:/var/www/certbot:ro
      - ./certbot/letsencrypt:/etc/letsencrypt:ro

  certbot-init:
    image: certbot/certbot:latest
    container_name: certbot-init
    restart: "no"
    env_file: .env
    network_mode: service:nginx
    command: >
      certonly --webroot --webroot-path=/var/www/certbot
      --email ${LETSENCRYPT_EMAIL} --agree-tos --no-eff-email --keep-until-expiring
      -d ${SLSKD_DOMAIN} -d ${NAVIDROME_DOMAIN}
    volumes:
      - ./certbot/www:/var/www/certbot
      - ./certbot/letsencrypt:/etc/letsencrypt
    depends_on:
      - nginx

  certbot-renew:
    image: certbot/certbot:latest
    container_name: certbot-renew
    restart: unless-stopped
    env_file: .env
    network_mode: service:nginx
    command: >
      /bin/sh -c "while true; do certbot renew --webroot --webroot-path=/var/www/certbot --deploy-hook 'kill -HUP $(cat /var/run/nginx/nginx.pid)' || true; sleep 12h; done"
    volumes:
      - ./certbot/www:/var/www/certbot
      - ./certbot/letsencrypt:/etc/letsencrypt
      - nginx_run:/var/run/nginx
    depends_on:
      - nginx
